<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>
        {% include "partials/nav.njk" %}

        <hr>

        {% block body %}
            Dit is standaard inhoud!
        {% endblock body %}

        {% include "partials/footer.njk" %}
    </body>
</html>