---
title: Pasta carbonara
pageTitle: Pasta carbonara | recepten
---
{% extends "layouts/detail.njk" %}

{% block article %}
    <h2>Test</h2>

    <p>Testlkjlzjeflzehflh fkzeh fhzekfh ezk;fhez </p>
{% endblock article %}