{% extends "layouts/base.njk" %}

{% block body %}
    {% include "partials/nav.njk" %}

    <main>
        {% block main %}
            Dit is mijn standaard inhoud van main.
        {% endblock main %}
    </main>

    {% include "partials/footer.njk" %}
{% endblock body %}