{% extends "layouts/default.njk" %}

{% block main %}
    <section class="banner">
        <header class="banner__title">
            <h1>
                {{ title }}
            </h1>
        </header>
    </section>

    <section>
        <article class="max-w-article mx-auto">
            {% block article %}
                Standaard inhoud {{ content | safe }}
            {% endblock article %}
        </article>
    </section>
{% endblock main %}