{% import "components/buttons.njk" as buttons %}
{% extends "layouts/default.njk" %}

{% block main %}
    <section>
        {% block top %}
            <div class="flex justify-center items-center">
                <h1>{{ title }}</h1>
                <p>{{ description }}</p>

                {% if link %}
                    {{ buttons.primary(title, link) }}
                {% endif %}
            </div>
        {% endblock top %}
    </section>

    <section>
        <div>
            {% block left %}{% endblock left %}
        </div>
        <div>
            <img src="{{ image }}" alt="">
        </div>
    </section>
{% endblock main %}