{% extends "grid.njk" %}

{% block top %}
    Top content
{% endblock top %}

{% block left %}
    Hier komt mijn linkse inhoud.
{% endblock left %}

{% block right %}
    Hier komt mijn rechtse inhoud.
{% endblock right %}

{% block bottom %}
    Bottom content
{% endblock bottom %}