---
title: Contact
description: Contacteer ons voor hulp.
link: mailto:test@test.be
pageTitle: Contact
tags: navItems
order: 3
---

{% extends "layouts/grid.njk" %}

{% block left %}
    <form action="">
        <label>
            test
            <input type="text">
        </label>
    </form>
{% endblock left %}