---
title: PGM
description: Welkom bij PGM!
image: 'computer.jpg'
---

{% extends "layouts/grid.njk" %}

{% block left %}
    <h2>Titel</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, autem! Laboriosam odit, voluptatum necessitatibus voluptatibus, ut nesciunt ratione aut deserunt amet id velit cupiditate mollitia eligendi voluptas ullam libero natus.</p>
{% endblock left %}